.container{
    max-width: 320px;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
}

img{
    width: 150px;
    margin:0 auto;
}
html ,body{
    padding: 0;
    margin: 0;
    font-family:sans-serif,'Times New Roman', Times, serif;
    background-color: white;
}
input{
    color: #432000;
    background-color: #dce1eb;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family:sans-serif,'Times New Roman', Times, serif;
    margin: 10px 0;
}
button{
    color: #fdfdfd;
    background-color: #ac485a;
    border: 0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family:sans-serif,'Times New Roman', Times, serif;
}